<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">
      <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;
      Not a standalone resource!
    </h3>
  </div>
  <div class="panel-body">
    <p>
      Alcea Rosea is intended to be a companion
      to the core rule books of each game,
      and the information presented here includes
      only summaries of and references to that core material.
    </p><p>
      After you've read the books this quick reference will make sense,
      and should be a handy tool for answering common questions and
      helping to adjudicate confusing or novel situations during play.
    </p><p>
      Have fun, and please remember to
      <a href="https://www.patreon.com/JennaMoran">support the author</a>!
    </p>
  </div>
</div>
